$borderDirection: top !default;
$baseFontSize: 12px !default;
$baseLineHeight:1.5 !default;
//应用于class和属性
.border-#{$borderDirection}{
	border-#{$borderDirection}:1px solid #ccc;
}
//应用于复杂的属性值
body{
	font:#{$baseFontSize}/#{$baseLineHeight};
}

$linkColor: #08c #333 !default;//第一个为默认值，第二个为鼠标滑过值
a{
	color:nth($linkColor,1);
	&:hover{
		color:nth($linkColor,2)
	}
}

$heading:(h1:2em,h2:1.5em,h3:1.2em);
//使用
@each $header,$size in $heading{
	#{$header}{
		font-size:$size;
	}
}